@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body, #app, #app>div, root {
    height: 100%;
    width: 100%;
}

.full-height {
    height: 100%;
    width: 100%;
}

.markdown code {
    background-color: rgba(125, 114, 114, 0.34);
    border-radius: 2px;
    padding: 0 4px;
    color: black;
    font-weight: lighter;
    font-size: 20px;
}

.markdown h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.markdown h2 {
    font-size: 30px;
    font-weight: bold;
}

.markdown h3 {
    font-size: 27px;
    font-weight: bold;
}

.markdown h4 {
    font-size: 25px;
    font-weight: bold;
}

.markdown p {
    font-family: "Roboto", serif;
    font-size: 20px;
}

.markdown ol {
    padding: 0 2em;
    list-style-type: decimal;
    font-family: "Roboto", serif;
    font-size: 20px;
}

.markdown ul {
    padding: 0 2em;
    font-family: "Roboto", serif;
    font-size: 20px;
    list-style-type: circle
}

.markdown blockquote {
    margin-left: 2em;
    font-family: "Roboto", serif;
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 1em;
    padding: .5em 2em;
}