@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');

html, body, #app, #app>div, root {
    height: 100%;
    width: 100%;
    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: rgba(0,0,0,0.2);
    --contexify-item-color: #333;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: #818cf8;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
}

.MuiSlider-root {
    color: var(--purple)
}

.MuiSlider-root:hover {
    color: var(--indigo);
}

.MuiSlider-root .MuiSlider-thumb {
    border-radius: 1px;
}

:root {
    --indigo: #818cf8;
    --purple: #a855f7;
    --blue: #3b82f6;
}


html,body, #st-full-pg {
    margin: 0;
    font-family: Poppins, serif;
}

.logo {
    font-family: 'Bebas Neue', cursive;
}

.dialog {
    display: flex;
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    font-family: Poppins, serif;
}

.code-area {
    font-family: "JetBrains Mono", "serif"
}

code {
    font-family: "JetBrains Mono", "serif";
}

.full-height {
    height: 100%;
    width: 100%;
}

.markdown code {
    background-color: rgba(125, 114, 114, 0.34);
    border-radius: 2px;
    padding: 0 4px;
    color: black;
    font-weight: lighter;
    font-size: 20px;
}

.markdown h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.markdown h2 {
    font-size: 30px;
    font-weight: bold;
}

.markdown h3 {
    font-size: 27px;
    font-weight: bold;
}

.markdown h4 {
    font-size: 25px;
    font-weight: bold;
}

.markdown p {
    font-size: 20px;
}

.markdown ol {
    padding: 0 2em;
    list-style-type: decimal;
    font-size: 20px;
}

.markdown ul {
    padding: 0 2em;
    font-size: 20px;
    list-style-type: circle
}

.markdown blockquote {
    margin-left: 2em;
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 1em;
    padding: .5em 2em;
}

.course-grid {
    display: grid;
    grid-area: left-top;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr 1fr .2fr;
    grid-template-areas:
    "left-top right"
    "left-bottom right"
    "nav-bar nav-bar";
}

.search {
    grid-area: right;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.preview {
    z-index: 1;
    font-size: .75rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    min-width: 0;
    grid-template-rows: .1fr .1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
    grid-template-areas:
    "meta-data meta-data"
    "tags enrollment"
    "structure enrollment";
    grid-area: left-bottom;
}

.preview-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.button {
    border-radius: 2rem;
    padding: 0 .5rem;
}

.create-button {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-new-course-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.published-button {
    padding: .5rem 1rem;
}

.delete-button {
    color: white;
    background-color: darkred;
}

.left-pill-button {
    color: white;
    border-radius: 2rem 0 0 2rem;
    padding: 0 .5rem;
}

.right-pill-button {
    color: white;
    border-radius: 0 2rem 2rem 0;
    padding: 0 .5rem;
}

.course-meta-edit {
    grid-area: meta-data;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr .5fr;
    grid-template-areas:
    "name code save delete";
}

.course-meta-view {
    grid-area: meta-data;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name code options";
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: options;
}

.selected {


}

.course-name {
    grid-area: name;
    min-width: 0;
}

.course-code {
    max-width: 7rem;
    grid-area: code;
    min-width: 0;
}

.course-save-button {
    grid-area: save;
    min-width: 0;
    display: flex;
}

.course-delete-button {
    grid-area: delete;
    min-width: 0;
}

.course-tags {
    grid-area: tags;
}

.course-enrollment {
    gap: .5rem;
    grid-area: enrollment;
    border-radius: .5rem;
    border: solid 1px lightgray;
}

.course-structure {
    grid-area: structure;
    border-radius: .5rem;
    border: solid 1px lightgray;
    overflow-y: auto;
}

.course-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.course-preview-container {
    border: solid 1px lightgray;
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.nav-bar {
    grid-area: nav-bar;
    box-shadow: 2px 2px 10px 2px;
}

.tag-holder {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}

.course-button-tag {
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 2rem;
    max-width: 10vw;
}

.course-button-icon {
    position: fixed;
    top: -10px;
    right: -10px;
    background-color: white;
    box-shadow: black 1px 1px 3px 0;
    color: black;
}

.round {
    border-radius: 50%;
}

.course-button-editable-icon {
    position: absolute;
    top: 2px;
    left: 5px;
    background-color: transparent;
    color: white;
}

.hide {
    display: none;
}

.course-button {
    min-height: 65px;
    cursor: pointer;
    border-radius: .5rem;
    font-size: .75rem;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas:
            "code name button"
            "code student-count button";
    transition: box-shadow 1s;
}

.stacked-course {
    box-shadow:
            var(--indigo) 3px 3px 5px -1px;
}

.stacked-course-selected {
    box-shadow: var(--purple) 3px 3px 5px -1px;
}

.course-button-more {
    display: flex;
    align-items: center;
    grid-area: button;
    border-radius: 0 .5rem .5rem 0;
    transition: background-color .2s;
}

.course-button-more:hover {
    background-color: lightgray;
}

.course-button-extra-panel {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: .5rem;
    border-color: rgb(99 102 241);
    color: rgb(99 102 241)
}

.course-button-extra-panel button {
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .75rem;
    transition: background-color .25s, color .25s;
}

.course-button-extra-panel button:hover {
    color: white;
}

.view-all-button:hover {
    background-color: var(--purple);
}

.add-course-button:hover {
    background-color: var(--indigo);
}

.course-student-count {
    display: flex;
    font-weight: lighter;
    color: #AAAAAA;
    justify-content: center;
    align-items: center;
    grid-area: student-count;
}

.course-button-name {
    text-align: center;
    font-weight: lighter;
    grid-area: name;
}

.normal {
    font-size: .9rem;
}

.small {
    font-size: .8rem;
}

.smaller {
    font-size: .7rem;
}

.course-button-code {
    color: white;
    font-weight: lighter;
    border-radius: .5rem 0 0 .5rem;
    display: flex;
    grid-area: code;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
}

.inbox-count {
    display: inline-block;
    padding: 0 .5em;
    border-radius: 50%;
    color: white;
    background-color: darkred;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
}

.messages-panel {
    display: grid;
    width: 100%;
    grid-template-columns: .50fr 1fr;
    grid-template-areas:
    "side-bar messages"
}

.messages {
    grid-area: messages;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messaging-display {
    background-color: lightgray;
}

.messaging-control-panel {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem;
}

.message-dialog {
    resize: none;
    border: solid var(--indigo);
    border-radius: .75rem;
    padding: .5rem 1rem;
    outline: none;
    width: 90%;
}

.messaging-sidebar {
    grid-area: side-bar;
}

.search-panel {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: gray;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    position: relative;
    border-radius: .75rem;
    padding: 1rem;
    overflow-y: auto;
}

.modal-background-global {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
}

.modal-background-local {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.pop {
    position: relative;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    top: -100px;
    z-index: 99;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.course-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .2fr 1.4fr .2fr;
}

.course-view-side-bar {
    grid-template-areas:
    "header header"
    "side-bar page"
    "nav-bar nav-bar"
}

.course-view-no-side-bar {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "page"
    "nav-bar"
}

.course-side-bar {
    display: flex;
    grid-area: side-bar;
    border-radius: 0 .75rem .75rem 0;
    overflow-y: auto;
}

.page-view {
    grid-area: page;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: min(90%, 900px);
    height: 100%;
}

.scrollable {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.mini-logo {
    font-size: 1.5rem;
}

.course-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: lighter;
    padding: .5rem;
    gap: .5rem;
    box-shadow: black 0 0 20px 0;
    margin-bottom: 1rem;
}

.course-component {
    cursor: pointer;
    display: grid;
    grid-template-columns: .3fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: black 1px 1px 5px 0;
    border-radius: .5rem;
    padding: .1rem 1rem;
    color: rgb(50, 50, 50);
}

.course-component-view {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.expandable-button {
    display: flex;
    flex-direction: column;
}

.expandable-button-children {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 5px 0 black;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
    border-left: gray solid 10px;
}

.course-filter-input {
    padding: .5rem 1rem;
}

.mini-course-container {
    background-color: black;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.mini-course-button {
    padding: .1rem .2rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: .5fr .5fr 1fr .5fr;
    justify-content: center;
    align-items: center;
    place-items: center;
    color: black;
    margin-bottom: .2rem;
    border-radius: .5rem;
    box-shadow: var(--indigo) 1px 1px 3px 1px;
}

.light-gray {
    background-color: lightgray;
}

.dark-gray {
    background-color: #adadad;
}

.purple {
    background-color: var(--purple);
}

.darker-purple {
    background-color: rebeccapurple;
}

.indigo {
    background-color: var(--indigo);
}

.mini-course-button-name {
    font-size: 10px;
}

.mini-course-button-select {
    font-size: 10px;
}

.mini-course-button-code {
    font-size: 10px;
    border-radius: .5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    text-align: center;
    background-color: white;
}

.mini-course-button-drag {
    cursor: pointer;
}

.course-options-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "header header"
            "enrollment enrollment"
            "settings settings";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.course-enrollment {
    grid-area: enrollment;
}

.course-settings {
    grid-area: settings;
}

.course-options-header {
    grid-area: header;
}

.course-options-body {
    grid-area: body;
}

.course-enrollment-preview-button {
    color: #292929;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me-tag {
    position: absolute;
    top: -5px;
    left: -15px;
    font-size: 10px;
    background-color: var(--indigo);
    color: white;
    padding: .2rem .5rem;
    border-radius: .75rem;
    transform: rotate(-45deg);
}

.teacher {
    background: gray;
}

.student {
    background: lightgray;
}

.tooltip {
    background-color: lightgray;
    border-radius: .5rem;
    color: #2f2f2f;
    padding: .5rem 1rem;
    z-index: 999;
}

.search-result {
    padding: 0 .5rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 2fr 1fr 1fr .5fr;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: 95%;
    box-shadow: var(--purple) 0 5px 2px 0;
}

hr {
    border-radius: .5rem;
    width: 100%;
    border: #484848 2px solid;
}

.dark-text {
    color: #484848;
}

.new-account-entry {
    box-shadow: black 1px 1px 5px -1px;
}

.new-account-entry-grid-top {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 1rem;
}

.new-account-entry-grid-bottom {
    display: grid;
    grid-template-columns: .5fr .5fr .2fr;
    gap: 1rem;
}

.new-account-entry-input {
    padding: .5rem 1rem;
    outline: none;
    border: lightgray 1px solid;
    border-radius: .2rem;
}

.new-account-entry-input:focus {
    box-shadow: rgb(0, 111, 255) 0 0 1px 1px;
}

.text-cursor:hover {
    cursor: text;
}

.new-account-button {
    border-radius: .2rem;
    border: lightgray 1px solid;
    outline: none;
}

.new-account-button:focus {
    box-shadow: rgb(0, 111, 255) 0 0 1px 1px;
}

.profile-page-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 1.6fr .2fr;
    grid-template-areas:
    "profile page"
    "nav-bar nav-bar";
    overflow: hidden;
}

.profile-panel {
    grid-area: profile;
}

.cell-element-wrapper {
    width: 100%;
}

.speed-dial-fab {
    color: black;
    background-color: purple;
    padding: 2rem;
}