@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');

html, body, #app, #app>div, root {
    height: 100%;
    width: 100%;
    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: rgba(0,0,0,0.2);
    --contexify-item-color: #333;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: #818cf8;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
}

:root {
    --indigo: #818cf8;
    --purple: #a855f7;
    --blue: #3b82f6;
}


html,body, #st-full-pg {
    margin: 0;
    font-family: Poppins, serif;
}

.logo {
    font-family: 'Bebas Neue', cursive;
}

.i-bg {
    background-color: #ffa69e;
}

.ii-bg {
    background-color: #B2CEDE;
}

.iii-bg {
    background-color: #8CDFD6;
}

.iiii-bg {
    background-color: #6dc0d5;
}

.iiiii-bg {
    background-color: #5a716a;
}

.i-text {
    color: #ffa69e;
}

.ii-text {
    color: #B2CEDE;
}

.iii-text {
    color: #8CDFD6;
}

.iiii-text {
    color: #6dc0d5;
}

.iiiii-text {
    color: #5a716a;
}

.dialog {
    display: flex;
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    font-family: Poppins, serif;
}

.code-area {
    font-family: "JetBrains Mono", "serif"
}

code {
    font-family: "JetBrains Mono", "serif";
}

.full-height {
    height: 100%;
    width: 100%;
}

.markdown code {
    background-color: rgba(125, 114, 114, 0.34);
    border-radius: 2px;
    padding: 0 4px;
    color: black;
    font-weight: lighter;
    font-size: 20px;
}

.markdown h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.markdown h2 {
    font-size: 30px;
    font-weight: bold;
}

.markdown h3 {
    font-size: 27px;
    font-weight: bold;
}

.markdown h4 {
    font-size: 25px;
    font-weight: bold;
}

.markdown p {
    font-size: 20px;
}

.markdown ol {
    padding: 0 2em;
    list-style-type: decimal;
    font-size: 20px;
}

.markdown ul {
    padding: 0 2em;
    font-size: 20px;
    list-style-type: circle
}

.markdown blockquote {
    margin-left: 2em;
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 1em;
    padding: .5em 2em;
}

.course-grid {
    display: grid;
    grid-area: left-top;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr 1fr .2fr;
    grid-template-areas:
    "left-top right"
    "left-bottom right"
    "nav-bar nav-bar"
}

.search {
    grid-area: right;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.preview {
    z-index: 1;
    font-size: .75rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    min-width: 0;
    grid-template-rows: .1fr .1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "meta-data meta-data"
    "tags enrollment"
    "structure enrollment";
    grid-area: left-bottom;
}

.preview-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.button {
    border-radius: 2rem;
    padding: 0 .5rem;
}

.delete-button {
    color: white;
    background-color: darkred;
}

.save-button {
    color: white;
    border-radius: 2rem 0 0 2rem;
    padding: 0 .5rem;
}

.cancel-button {
    color: white;
    border-radius: 0 2rem 2rem 0;
    padding: 0 .5rem;
}

.course-meta-edit {
    padding: .5rem;
    grid-area: meta-data;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr .5fr;
    grid-template-areas:
    "name code save delete";
}

.selected {


}

.course-name {
    grid-area: name;
    min-width: 0;
}

.course-code {
    max-width: 7rem;
    grid-area: code;
    min-width: 0;
}

.course-save-button {
    grid-area: save;
    min-width: 0;
    display: flex;
}

.course-delete-button {
    grid-area: delete;
    min-width: 0;
}

.course-meta-view {
    grid-area: meta-data;
}

.course-tags {
    grid-area: tags;
}

.course-enrollment {
    grid-area: enrollment;
    border-radius: .5rem;
    border: solid 1px lightgray;
}

.course-structure {
    grid-area: structure;
    border-radius: .5rem;
    border: solid 1px lightgray;
}


.nav-bar {
    grid-area: nav-bar;
    box-shadow: 2px 2px 10px 2px;
}

.tag-holder {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}

.course-button-tag {
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 2rem;
    color: white;
    max-width: 10vw;
}

.course-button-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    box-shadow: black 1px 1px 3px 0;
    color: black;
    border-radius: 50%;
}

.hide {
    display: none;
}

.course-button {
    min-height: 65px;
    cursor: pointer;
    font-size: .75rem;
    border-radius: .5rem;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas:
            "code name button"
            "code student-count button";
}

.course-button-more {
    display: flex;
    align-items: center;
    grid-area: button;
    border-radius: 0 .5rem .5rem 0;
    transition: background-color .2s;
}

.course-button-more:hover {
    background-color: lightgray;
}

.course-button-extra-panel {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: .5rem;
    border-color: rgb(99 102 241);
    color: rgb(99 102 241)
}

.course-button-extra-panel button {
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .75rem;
    transition: background-color .25s, color .25s;
}

.course-button-extra-panel button:hover {
    color: white;
}

.view-all-button:hover {
    background-color: var(--purple);
}

.add-course-button:hover {
    background-color: var(--indigo);
}

.course-student-count {
    display: flex;
    font-weight: lighter;
    color: #AAAAAA;
    justify-content: center;
    align-items: center;
    grid-area: student-count;
}

.course-button-name {
    text-align: center;
    font-size: .9rem;
    font-weight: lighter;
    grid-area: name;
}

.course-button-code {
    color: white;
    font-weight: lighter;
    border-radius: .5rem 0 0 .5rem;
    display: flex;
    grid-area: code;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
}

.inbox-count {
    display: inline-block;
    padding: 0 .5em;
    border-radius: 50%;
    color: white;
    background-color: darkred;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
}

.messages-panel {
    display: grid;
    width: 100%;
    grid-template-columns: .50fr 1fr;
    grid-template-areas:
    "side-bar messages"
}

.messages {
    grid-area: messages;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messaging-display {
    background-color: lightgray;
}

.messaging-control-panel {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem;
}

.message-dialog {
    resize: none;
    border: solid var(--indigo);
    border-radius: .75rem;
    padding: .5rem 1rem;
    outline: none;
    width: 90%;
}

.messaging-sidebar {
    grid-area: side-bar;
}

.search-panel {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;
    position: relative;
}

.modal-background-global {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-background-local {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.pop {
    position: relative;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    top: -100px;
    z-index: 99;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.course-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .2fr 1.4fr .2fr;
}

.course-view-side-bar {
    grid-template-areas:
    "header header"
    "side-bar page"
    "nav-bar nav-bar"
}

.course-view-no-side-bar {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "page"
    "nav-bar"
}

.course-side-bar {
    display: flex;
    grid-area: side-bar;
    border-radius: 0 .75rem .75rem 0;
    overflow-y: scroll;
}

.page-view {
    grid-area: page;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.mini-logo {
    font-size: 1.5rem;
}

.course-header {
    grid-area: header;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: lighter;
    padding: .5rem;
    gap: .5rem;
    box-shadow: black 0 0 20px 0;
    margin-bottom: 1rem;
}

.course-component {
    cursor: pointer;
    display: grid;
    grid-template-columns: .3fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: black 1px 1px 5px 0;
    border-radius: .5rem;
    padding: .1rem 1rem;
    color: rgb(50, 50, 50);
}

.course-component-view {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.expandable-button {
    display: flex;
    flex-direction: column;
}

.expandable-button-children {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 5px 0 black;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
    border-left: gray solid 10px;
}

.course-filter-input {
    padding: .5rem 1rem;
}